body{
	background-color: #aaa;
	width:50rem;
	max-height:30rem;
	padding:0;
	margin:0;
	font-size: 1rem;
}

/*
	General
*/
.inputWithInitialValue
{
	color:#888;
}

.error
{
	margin:0px;
	color:#f00;
	background-color: #eee;
}

/*
	Search Block
*/

#searchArea{
	background-color: #aae;	
	width: 100%;
	margin: 0;
}

.searchTable
{
	margin:0;
	border:0;
	padding:0;
	width:100%;
	border-spacing: 0;
}

.searchTable tr
{
	margin:0;
	border:0;
	padding:0;
}

.searchTable th
{
	margin:0;
	border:0;
	padding:0;
	font-weight: normal;
	font-size: 1rem;
}

.searchTable td
{
	margin:0;
	border:0;
	padding:0;
}

.searchTable .inputAirports
{
	width:15rem;
}

.searchTable .inputDate
{
	width:8rem;
}

.searchTable .scatter
{
	width:2rem;
}
.searchTable .deleteButton
{
	width:2rem;
}

#searchButton
{
	display: block;
	margin:0 auto;
	width:100%;
	height:2rem;
	line-height: 2rem;
	font-size: 1rem;
}

.collapsable{
	position:relative;
	overflow:hidden;
}

.collapsable .headline
{
	position: relative;
	background-color: rgba(255,255,255,0.6);
	z-index: 5;
	font-size: 1rem;
	line-height: 1.5rem;
	height: 1.5rem;
	margin:0;
}

.collapsable .heading
{
	font-size: 1rem;
	line-height: 1.5rem;
	height: 1.5rem;
	margin:0 0 0 1rem;
}

.collapseButton
{
	position: absolute;
	cursor: pointer;
	z-index: 7;
	left:0.1rem;
	top:0;
	text-align: left;
	width:100%;
	font-size: 1rem;
}



/*
	Result Block
*/
.searchResult{
	background-color: #9e9;
}
.taskTable
{
	width: 100%;
	border-spacing: 0;
	border-width: 0;
	border-color:none;
}

.taskTable th
{
	text-align: left;
	font-size: 1rem;
}

.progressBar
{
	position: absolute;
	z-index: 4;
	left:0;
	top:1.5rem;
	height:0.2rem;
	width:0%;
	background-color: #007700;
}

.failedBar
{
	position: absolute;
	z-index: 4;
	top:1.5rem;
	width:0%;
	height:0.2rem;
	background-color: #dd0000;
}